@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: var(--tg-theme-bg-color);
  --bg-sec: var(--tg-theme-secondary-bg-color);
  --text: var(--tg-theme-text-color);
  --btn: var(--tg-theme-button-color);
  --btn-text: var(--tg-theme-button-text-color);
}

body {
  position: relative;
  background: var(--bg-sec);
  color: var(--text);

  font-family: 'Rubik', sans-serif;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
}

.circle {
  position: absolute;
  background-color: var(--bg);
  border-radius: 50%;
  animation: move linear infinite;
  z-index: -1000;
}

@keyframes move {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(-100vh) translateX(50vw);
  }
}

.spinner {
  color: var(--text);
}

.modal {
  z-index: 9999;
  overflow: hidden;
  background: var(--bg);
  color: var(--text);

  top: 105px;

  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}
