@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: var(--rubik), sans-serif;

  color: var(--text);
  background-color: #EEEEEE;
}

.modal {
  z-index: 9999;
  overflow: hidden;
  background: #fff;

  top: 105px;

  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
